table{
    padding: 5px;
    border: 2px solid rgb(181, 170, 170);
}
td,th{
    font-size: large;
    margin: 50px;
    border: 2px solid white;
    padding: 20px;
    background-color: rgb(209, 206, 206);
}
h1{
    text-align: center;
}
.a1{
    padding-left: 15px;
}
body{
    background-color: rgb(134, 201, 246);
}