body {
    background-image: url('back2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    color: black;
    opacity: 1;
}
body,html{
    height: 100%;
}

img{
    margin-right: 2px;
}

li{
    padding: 5px;
    white-space: nowrap;
}

ul{
    padding: 20px;
}
.stand{
    background-color: rgba(236, 108, 33, 0.911);
    font-family: 'Nanum Gothic', sans-serif;
}

.ench{
    background-color: rgb(255, 0, 123);
    font-family: 'Nanum Gothic', sans-serif;
}

.unlim{
    background-color: rgb(51, 225, 51);
    font-family: 'Nanum Gothic', sans-serif;
}

.headings{
    font-size: 30px;
    font-weight: lighter;
    padding: 30px;
}

.box{
    background-image: linear-gradient(rgba(107, 104, 104, 0.406),rgba(221, 215, 215, 0.822));
}