.heading{
    width: 100%;
    background-color: red;
    padding-top: 5%;
    padding-bottom: 5%;
}
.ht{
    color:white;
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.calc{
    font-size: larger;
    font-weight: 500;
    color: white;
    background-color: black;
}
.a1{
    margin-left: auto;
    margin-right: auto;
}